
<h1 id="myAccount" class="row-100"> <%=I18n.t "bidspain.user.myaccount"%>  <a href="/"><%=I18n.t "bidspain.common.backtobids"%></a></h1>

<div id="userMenu">
	<ul>
		<%=render partial: "user_section_links"%>
	</ul>
	
</div>



