body#main{
    #wrapper{ 
      #wrapper-container{
        #wrapper-content{
          #ie8{
  
            .row{
              .part66{
              }
              .part33{
                  .bid{
                    .article_description{
                      .maxPriceBox{
                        font-size:9px;
                        .maxPrice{
                          font-size:20px;
                        }
                      }
                    }
                  }
              }

            }
          

            #left_bid_container{

              #bid_action_container{
                min-height:0px;
                #time_container{
                  font-size:55px;
                }  
              }
              #bidSelector{
                font-size:23px;
              }
            }

         }
        }
      }
    }


  
}