@media screen  and (max-width: 1000px) {
  body#main.responsive{
    .container{
        width:658px;
    }
    .out-container{
        width:690px;
    }
    #wrapper{ 
      #wrapper-container{
        #wrapper-content{
          width:628px;
          padding:50px 10px;
          position:relative;
          float:left;
          .row{
            .part66{
              margin-left:6px;
            }
            .part33{
              margin-left:6px;
              margin-right:6px;
            }
            .part33.everytree{
              margin-left:6px;
            }
            .part33:first-child{
              margin-left:0px;
            }
          }
          
          #infoContainer{
            .infoBox:last-child{
              margin-left:157px;
              margin-top:20px;
            }
          }
          #left_bid_container{
            margin-top:130px;
            margin-left:27.5px;
            min-height:0px;
            margin-bottom:50px;
            #bid_action_container{
              min-height:0px;
            }
          }
          #right_bid_container{
             float:left;
             width:513px;
             margin-left:47.5px;
             #product_description{
              width:513px; 
              .product_section_container{
                a{
                  width:500px;
                }
              } 
             }
             #actualBidInfo{
               position:absolute;
               margin-left:47.5px;
               top:20px;
               left:25px;
               width:513px;
               float:none;
               .bidInfoItem{
                 width:160px;
               }
               #InfoBidsUser{
                 width:493px;
               }
             }
          }
          #UserWrapper{
            width:608px;
            #detailsSection{
              width:370px;
              .detailsContainer{
                margin-left:20px;
                width:360px;
                #walletContainer{
                  width:360px;
                  .walletFont{
                    font-size:28px;
                    p{
                      margin-left:25px;
                      input{
                        margin-left:20px;
                      }
                    }
                    p.inline-errors{
                      font-size:12px;
                    }
                  }
                  .walletFont{
                    font-size:20px;
                  }  
                }
              }
            }
          }
        }
      }
    }
    #headerContainer{
      #header{
        #header-central{
          #logo {
            width:185px;
            a{ 
              img{
                width:200px;
                margin-top:15px;
              }
            }         
          }
          #header-content{
            width:473px;
            #header-top-links{           
              ul{
                li{
                  padding-left:10px;
                  padding-right:10px;
                   a{
                     img{
                       display:inline;
                     }
                     span{
                       display:none;
                     }
                   }
                }
              }
            }
            #header-bottom-links{
              height:52px;
              ul#secureList{
                margin-left:0px;
                height:26px;
                li{
                  margin-right:5px;
                }
                li#secureDispatch{
                  padding-left:35px;
                }
                li#secureMoney{
                  padding-left:27px;
                }
                li#secureGeneral{
                  padding-left:40px;
                }
              }
              ul#socialList{
                height:26px;
              }
            }
            

          }
        }
      }
    }
      
    //Footer
    #footerContainer{
      font-size:12.4px;
      height:72px;
      #footer{
        #footer-central{
          ul{
            float:left;   
            margin: 12px auto 0 2px;
            li{
              padding-left:5px;
              padding-right:5px;
         
            }
            img{
              height:13px;
            }

          }
          p{
            float:left;
            display:inline;            
          }
        }
      }
    }
  }
  body#main{
    #footerContainer{
      height:92px;
      #footer{
        #footer-central{
          p{
            float:left;
            display:inline;            
          }
        }
      }
    }
  }  
}